.container {
  display: flex;
  justify-content: space-between;
}

.optionalButtons {
  width: 100%;
  display: flex;
  gap: 12px;
}

.wrap {
  position: relative;
}

.tooltip {
  min-width: 200px;
}

.forward {
  margin-left: auto;
}