@import '../../styles/const.scss';

.input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 16px;
  border: 1px solid $color-secondary-gray;
  border-radius: 8px;
  background-color: white;
  color: $color-black;

  &::placeholder {
    color: $color-primary-gray;
  }
}