@import '../../styles/mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.step2 {
  gap: 20px;
}

.title {
  @include reset-text;
  @include text-form-title;
  padding-bottom: 4px;
}

.buttonPanel {
  margin-top: auto;
}