@import '../../styles/mixins.scss';

.formBlock {
  display: flex;
  margin-top: 32px;
}

.sidebar {
  min-height: 100%;
  background-color: rgb(48, 50, 51);
  min-width: 504px;
  border-radius: 12px;
  opacity: 0.5;
  margin-right: 39px;
}

.title {
  @include reset-text;
  @include font-family-form-title
}