.page {
  display: flex;
  align-items: stretch;
  gap: 36px;
}

.container {
  display: flex;
  gap: 48px;
}

.employeePayInput {
  max-width: 330px;
  width: 100%;
}

.employeeNumber {
  max-width: 188px;
  width: 100%;
}