@import '../../styles/mixins.scss';

.app {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 34px calc((100vw - 1260px) / 2) 22px;
}
