@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.inputs {
  display: flex;
  gap: 16px;
  margin-top: -19px;
}

.input {
  @include reset-button;
  @include text-regular-16-400;
  color: $color-primary-blue;
  border-bottom: 1px solid $color-primary-blue;
}
