@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.container {
  display: flex;
  gap: 12px;
  @include text-regular-14-400;
}

.inputPrice {
  max-width: 230px;
}

.defaultPrice {
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
  color: rgb(23, 133, 229);
  background-color: $color-secondary-blue;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(186, 189, 191, 0.34);
  }
}
