@import '../../styles/mixins.scss';

.container {
  display: flex;
  gap: 16px;
  @include text-regular-14-400;
}

.inputPrice {
  box-sizing: border-box;
  border: 1px solid rgb(186, 189, 191);
  border-radius: 8px;
  background-color: white;
  padding: 10px 16px;
  // max-width: 373px;
  // width: 100%;
  height: 40px;
  box-sizing: border-box;
  flex: 1;
}

.defaultPrice {
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
  color: rgb(23, 133, 229);
  background-color:  rgb(232, 244, 255);
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(186, 189, 191, 0.34);
  }
}
