@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.container {
  display: flex;
  gap: 12px;
  @include text-regular-14-400;
}

.inputPrice {
  max-width: 230px;
}

.defaultPrice {
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
  color: $color-primary-blue;
  background-color: $color-secondary-blue;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba($color-secondary-gray, .34);
  }
  cursor: pointer;
  position: relative;
}
