@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.inputBlock {
  position: relative;
}

.hint {
  @include reset-text;
  @include text-regular-14-400;
  color: $color-primary-gray;
  position: absolute;
  top: 0;
  right: 0;
}

.textarea {
  margin-top: -6px;
  margin-bottom: 16px;
}
