@import '../../styles/mixins.scss';

.inputBlock {
  @include style-input-block;
}

.container {
  display: flex;
  margin-bottom: 12px;
}

.title {
  @include reset-text;
  @include font-family-form-subtitle;
}

.star {
  @include reset-text;
  color: rgb(214, 0, 29);
}
