@import '../../styles/mixins.scss';

.inputBlock {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin-bottom: 16px;
}

.smallMargin {
  margin-bottom: 4px;
}

.title {
  @include reset-text;
  @include text-form-subtitle;
}

.star {
  @include reset-text;
  color: $color-primary-red;
  margin-left: 8px;
}
