@import '../../styles/mixins.scss';

.container {
  margin-top: -8px;
}

.resultBlock {
  width: fit-content;
  display: flex;
  padding: 16px;
  border-radius: 12px;
  background-color: rgba($color-secondary-gray, .1);
}

.text {
  @include reset-text;
  @include text-regular-14-400;
  color: $color-primary-gray;
}

.endPrice {
  @include reset-text;
  @include text-regular-14-400;
  font-weight: 700;
  color: $color-black;
  margin-left: 8px;
}
