@import '../../styles/mixins.scss';

.infoCard {
  background-color: rgba($color-bg-info-card, .1);
  border-radius: 12px;
  padding: 20px 16px;
  transition: .3s;

  &:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(186, 189, 191, .34);
  }
}

.title, .text {
  @include reset-text;
  @include text-regular-14-400;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}