@import '../../styles/mixins.scss';

.container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid $color-secondary-gray;
  border-radius: 8px;
  background-color: white;
}

.countButton {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: transparent;

  & * {
    width: 14px;
    height: 14px;
    fill: $color-secondary-gray;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-secondary-blue;
  }
}

.count {
  @include reset-text;
  @include text-regular-14-400;
  color: $color-black;
}
