@import '../../styles/mixins.scss';

.container {
  display: flex;
  justify-content: space-between;
  padding: 9px;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(186, 189, 191);
}

.countButton {
  @include text-regular-14-400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  &:hover {
    cursor: pointer;
  }
}

.count {
  @include reset-text;
}
