@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.inputBlock {
  min-width: 205px;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 20px;
  border: 1px solid $color-secondary-gray;
  border-radius: 8px;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  max-width: 50px;
  width: fit-content;
  height: 24px;
  outline: none;
  border: none;
  border-bottom: 1px dotted $color-primary-gray;
  text-decoration: none;
  padding: 0;
  margin: 0 3px;
}

.inputText {
  @include reset-text;
  @include text-regular-16-400;
  color: $color-primary-gray;

  &:last-child {
    margin-left: auto;
  }
}
